body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 24px;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.link {
  text-decoration: none;
}
.logo-studio {
  color: #2e2f42;
}
.menu-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 24px;
}

.list-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list-item:hover,
.list-item:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.email {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  color: #434455;
}
.tel {
  position: absolute;
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #434455;
}
.email:hover,
.email:focus {
  color: #404bbf;
}
.tel:hover,
.tel:focus {
  color: #404bbf;
}
.list {
  list-style: none;
}
